 

 .cta,
 .icon1 {
     background-image: linear-gradient(#009dff, #0071ee);
 }

 .icon2 {
     background-image: linear-gradient(#ff3dca, #fb0056);
 }

 .icon3 {
    background-image: linear-gradient(#ffdc00, #ffbb00);
}

.icon4 {
    background-image: linear-gradient(#61e900, #00ac00);
}